*,
*:before,
*:after
{
    scrollbar-width: thin;
    scrollbar-color: #333333 #111111;

}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #111111;
}

*::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 20px;
    border: 3px solid #111111;
}

body
{
    line-height: 1.6;
    background-color: #1a1a1a;
}

.sidebar
{
    padding-top: 25px;
    border-radius: 25px;
}
